[submodule "examples/hash-library"]
	path = examples/hash-library
	url = https://github.com/catvw/hash-library.git
[submodule "lib/external/hash-library"]
	path = lib/external/hash-library
	url = https://github.com/catvw/hash-library.git
[submodule "lib/external/cpp-base64"]
	path = lib/external/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "lib/external/argumentum"]
	path = lib/external/argumentum
	url = https://github.com/mmahnic/argumentum.git
